{% extends 'base.html' %}
{% load static %}

{% block title %}Ip Tags Report{% endblock title %}

{% block style %}
<link href="{% static 'styles/custom.css' %}" type="text/css" rel="stylesheet">
{% endblock style %}

{% block content %}
<table>
    <tr>
        <th>Adres IP</th>
        <th>Pasujące tagi</th>
    </tr>
    <tr>
        <td rowspan="{{ tags|length }}">{{ ip }}</td>
        <td>{{ tags.0 }}</td>
    </tr>
    {% for tag in tags|slice:"1:" %}
        <tr>
            <td>{{ tag }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}
